@{
    ViewData["Title"] = "Кредитен калкулатор";
}

<section class="calculator">
    <h2>Лизингов калкулатор</h2>
    <input id="loanAmount" type="number" placeholder="Размер на кредита*"  />
    <div class="error-msg" id="err-loanAmount"></div>
    
    <input id="months" type="number" placeholder="Срок(месеци)*"/>
    <div class="error-msg" id="err-months"></div>
    
    <input id="interest" type="number" placeholder="Лихва%*"/>
    <div class="error-msg" id="err-interest"></div>

    <button id="btnCalculate">Изчисли</button>

    <div id="result" style="display:none;">
        <p>ГПР: <span id="apr"></span>%</p>
        <p>Средна месечна вноска: <span id="monthly"></span></p>
        <p>Лихви: <span id="interestTotal"></span></p>
        <p>Общо платено: <span id="total"></span></p>
    </div>
</section>

<link rel="stylesheet" href="~/css/calculator.css" />